/* Desktop */
img{
    width: 50px;
}
.nav{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: red;
}
/* Mobile */
@media (hover: hover) {
    img{
        width: 50px;
    }
    .nav{
        position: sticky;
        top: 0;
        width: 100%;
        background-color: blueviolet;
    }
}