section{
    background-color: red;
    border: 1px solid cyan;
    width: 10%;
    display: inline;
}
div{
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}