/* Destkop */
.card {
    background-color: blue;
}

.cards {
}

.imgTest{
}

.slider{
}
/* Mobile */
@media (hover: hover) {
    .card {
        color: white;
        padding: 1rem;
        height: 100px;
    }
    
    .cards {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
    }
    
    .imgTest{
        width: 85px;
        height: 100px;
    }
    
    .slider{
        font-family: sans-serif;
        scroll-snap-type: x mandatory;	
        display: flex;
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;
    }
}